.foot {
    margin-top: 67px;

    @media (max-width: 991px) {
        margin-top: 47px;
    }
}

.nav-foot {
    display: flex;
    justify-content: space-between;

    @media (max-width: 991px) {
        flex-direction: column;
    }


}

.foot-nav-links {
    @media (max-width: 768px) {
        margin-bottom: 10px;
    }
}

.foot-nav-links-header {
    font-size: 16px;
    color: #535353;
    font-family: Frutiger-bold;
    margin-bottom: 22px;
    display: block;

    @media (max-width: 991px) {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}


.foot-nav-li {
    margin-bottom: 6px;

    @media (max-width: 991px) {
        margin-bottom: 8px;
    }
}

.foot-link {
    font-size: 14px;
    color: #535353;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $seccolor;
    }
}

.newsletter {
    flex-basis: 33.333%;
}

.newsletter-head {
    font-size: 16px;
    color: #535353;
    font-family: Frutiger-bold;
    margin-bottom: 22px;
    display: block;

    @media (max-width: 991px) {
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

.newsletter-info {
    font-size: 14px;
    color: #535353;
    margin-bottom: 17px;

    @media (max-width: 767px) {
        text-align: center;
    }
}

.sec-foot {
    min-height: 120px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;

    @media (max-width: 991px) {
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 0;
    }
}

.follow {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        flex-direction: column;
    }


    .follow-head {
        margin-left: 14px;
        font-size: 16px;
        color: #535353;
        font-family: Frutiger-bold;

        @media (max-width: 767px) {
            margin-bottom: 15px
        }
    }

    .socials {
        display: flex;
    }

    .social {
        margin-left: 5px;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 16px;

        &:nth-of-type(1) {
            background-color: #de475c;
        }

        &:nth-of-type(2) {
            background-color: #efd738;
        }

        &:nth-of-type(3) {
            background-color: #737070;
        }

        &:nth-of-type(4) {
            background-color: #44b7e8;
        }

        &:nth-of-type(5) {
            background-color: #4964af;
        }

        &:hover {
            animation: vibe 0.7s ease forwards;
        }

        @media (max-width: 991px) {
            font-size: 20px;
        }
    }
}

html[dir="ltr"] .follow {

    .follow-head {
        margin-left: 0;
        margin-right: 14px;
    }


    .social {
        margin-left: 0;
        margin-right: 5px;
    }
}

.download {
    display: flex;
    align-items: center;



    @media (max-width: 991px) {
        margin-top: 20px;
    }

    @media (max-width: 767px) {
        flex-direction: column;
    }

    .download-head {
        margin-left: 14px;
        font-size: 16px;
        color: #535353;
        font-family: Frutiger-bold;

        @media (max-width: 767px) {
            margin-bottom: 15px
        }
    }
}

html[dir="ltr"] .download {

    .download-head {
        margin-right: 14px;
        margin-left: 0;
    }
}

.apps {
    display: flex;
}

html[dir="ltr"] .apps {
    a {
        &:first-child {
            margin-left: 5px;
        }
    }
}

.copyrights {
    min-height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 991px) {
        flex-direction: column;
        justify-content: space-around;
        padding: 15px 0;
    }
}

.copyright {
    display: flex;
    align-items: center;

    @media (max-width: 991px) {
        order: 2;
        margin-top: 15px;
        flex-direction: column;
    }

    img {
        margin-right: 6px;
        @include transition(all 0.5s ease-in-out);

        &:hover {
            transform: translateY(-5px);
        }
    }

    .payment {
        @media (max-width: 991px) {
            order: 1;
        }
    }
}

html[dir="ltr"] .copyright {

    img {
        margin-right: 0;
        margin-left: 6px;
    }

}